@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); /* Montserrat e Krona One */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

* {  /* o asteristico se refere a TUDO no html */
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; /* Altura padrão*/
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.titulo-destaque {
    color: #22d4fd;
}

.apresentacao { 
    margin: 8% 18%;
    display: flex; /* Sequencia em linha*/
    align-items: center;/* Centralizando */ 
    justify-content: space-between; /* Espaço entre conteudo*/
}

.apresentacao__conteudo {
    width: 615px;
    height: 482px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__links {
    display: flex; /* Deixa em linha*/
    flex-direction: column; /* Deixa em coluna*/
    align-items: center; /* Centralizar*/
    justify-content: space-between;
    gap: 32px; /* Criar espaço entre os botão, sem isso fica grudado*/
    margin-bottom: 15px;
}

.apresentacao__links__subtitulo {
    font-family: "Krona One", sans-serif;
    font-weight: 400px; /* Calibre da fonte */
    font-size: 24px;
}

.apresentacao__links__link { /* Criando um botao*/
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px; /* Largura*/
    text-align: center;
    border: 2px solid #22d4fd; /* Criar uma borda solida */
    border-radius: 8px; /* Arredondar a borda*/
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0 ; /* Primeiro valor é vertical e o segundo é horizontal*/
    text-decoration: none;
    color: #f6f6f6;
    font-family: "Montserrat Alternates", sans-serif;
}

.apresentacao__links__link:hover {
    background-color: #272727;
}

.destaque__nome:hover {
    box-shadow: 0 0 10px rgba(86, 188, 228, 0.5);
}
